.product {
    width: 300px;
    height: 620px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 0.2s ease-in-out;
    border-radius: 8px;
    border: 1px solid #95A0A7;
    position: relative;
}

.product img {
    width: 286px;
    height: 286px;
    flex-shrink: 0;
    border-radius: 8px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    margin-left: 7px;
    margin-top: 8px;
}

.product:hover {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px;
}

.card {
    margin-left: 15px;
}

.product-name {
    color: #0E161A;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.032px;
}
.product-price {
    color: #0E161A;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.026px;
}
.made-by{
    color: #2A414F;
    font-size: 12px;
    letter-spacing: 0.048px;
}
.rating{
    color: #2A414F;
    font-size: 12px;
    letter-spacing: 0.048px;
}

.btn-cart{
    width: 300px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 0px 0px 8px 8px;
    border: none;
    background: #FFE0B3;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.btn-cart:hover{
    background-color: #ff9900;
}