.header{
    background-color: #1C2B35;
    color: aliceblue;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
}
nav img {
    cursor: pointer;
}
nav.header a {
    text-decoration: none;
    color: aliceblue;
    margin-left: 30px;
    transition: 0.2s ease-in-out;
}

nav.header a:hover{
    color: #ff9900;
}